* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--d-white);
    font-family: var(--ff);
    list-style: none;
}

:root {
    --ff: "ADLaM Display";
    --gray: #6C6C6C;
    --d-gray: #242424;
    --d-white: #F9F8F4;
    --white: #EEEEEE;
}

body {
    background: var(--d-white);
}

.container {
    max-width: 1734px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    min-width: 320px;
}