.footer {
    padding: 134px 0;
}

.footer__nav-list {
    display: flex;
    gap: clamp(3.625rem, -2.66rem + 16.06vw, 14.75rem);
}

.footer__nav-contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav-contact {
    display: flex;
    gap: 40px;
}

@media screen and (max-width:700px) {
    .footer__nav-list {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width:548px) {
    .footer__nav {
        flex-direction: column;
    }
}