.footer {
    padding: clamp(3.25rem, 2.09rem + 5.8vw, 8.375rem) 0;
}

.footer__nav-list {
    display: flex;
    gap: clamp(0.625rem, -2.572rem + 15.98vw, 14.75rem);
}

.footer__nav-contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__nav-contact {
    display: flex;
    gap: 40px;
}


@media screen and (max-width:548px) {
    .footer__nav {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }


}