
.shop__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(0.625rem, 0.131rem + 1.26vw, 1.5rem);
}

.big {
    grid-row: span 2;
}

@media screen and (max-width:624px) {}